* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 50px;
}

/* CONTÊINER PRINCIPAL */
.date-picker {
  position: relative; /* MUITO IMPORTANTE */
  width: 260px;
}

/* INPUT */
.input-wrapper {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-right: none;
}

.icon-btn {
  width: 40px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
}

/* CALENDÁRIO */
.calendar {
  position: absolute;
  top: 110%; /* empurra pra baixo do input */
  left: 0;

  width: 100%;
  border: 1px solid #333;
  background: #fff;
  padding: 10px;
}

/* HEADER */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.arrow {
  cursor: pointer;
  font-weight: bold;
}

/* DIAS DA SEMANA */
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

/* DIAS */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 4px;
}

.days span {
  padding: 6px 0;
  cursor: pointer;
}

.days span:hover {
  background: #eee;
}
