* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  padding: 40px;
}

.changelog {
  max-width: 900px;
  margin: auto;
  border: 2px solid #111;
  border-radius: 30px;
  padding: 60px 40px;
  text-align: center;
}

.changelog h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  color: #999;
  margin-bottom: 60px;
}

.timeline {
  position: relative;
  margin: 0 auto 60px;
  width: 100%;
  max-width: 700px;
}

/* linha vertical */
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #111;
  transform: translateX(-50%);
}

.item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 40px;
}

.date {
  text-align: right;
  padding-right: 30px;
  color: #aaa;
  font-size: 14px;
}

.dot {
  width: 14px;
  height: 14px;
  background: #111;
  border-radius: 50%;
  z-index: 1;
}

.content {
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
}

.btn {
  background: #111;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
